@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
  display: block;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :host {
    background-color: #121212;
    color: white;
  }
}
